.workBtn {
    margin-right: 2vh;
    padding: 1vh 2vh;
    border-radius: 1vh;
    transition: all 0.1s ease-out;
    margin-top: 1.5vh;
    font-size: 2.5vh;
    width: 100%;
    align-items: center;
}

.endbtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workBtn:hover {
    transform: scale(1.03);
}

.form-container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.form-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="url"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="file"] {
    padding: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
    resize: vertical;
    min-height: 100px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

button[type="submit"]:hover {
    background-color: #444;
}

.form-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form-link {
    margin: 0 10px;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.form-link:hover {
    color: #444;
    text-decoration: none;
}

.uploads-list-container {
    margin: 20px;
}

.uploads-heading {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation-name: example;
    animation-duration: 3s;
}

@keyframes example {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}