.project-cards-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.readmore {
  margin-left: 10px;
  cursor: pointer;
}

.contribution-statement {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.contribution-number {
  font-size: 2rem;
  color: #ff5722;
  margin: 0 5px;
}

.developerInfo {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.logoutbtn {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutbtn:hover {
  background-color: #0056b3;
}

.card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: #fffffe;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-top: 30px;
}

.card::before {
  content: "";
  width: 350px;
  height: 100px;
  position: absolute;
  top: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 3px solid #fefefe;
  background: linear-gradient(
    40deg,
    rgba(31, 58, 180, 1) 0%,
    rgb(95, 177, 228) 50%,
    rgb(139, 223, 238) 100%
  );

  transition: all 0.5s ease;
}

.card * {
  z-index: 1;
}

.action-link {
  margin-left: 240px;
  color: #1468bf;
}

.image {
  width: 130px;
  height: 90px;
  background-color: #000306;
  border-radius: 10%;
  border: 4px solid #fefefe;
  margin-top: 10px;
  transition: all 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: all 0.5s ease;
}
.card:hover .project-description {
  color: #ffffff;
}

.project-description {
  text-wrap: wrap;
  max-width:fit-content;
}

.card-info span {
  font-weight: 600;
  font-size: 24px;
  color: #161a42;
  margin-top: 10px;
  line-height: 5px;
}

.card-info p {
  color: rgba(0, 0, 0, 0.5);
}

.readmore {
  color: rgb(84, 121, 247);
}

.card-info a {
  color: rgba(0, 0, 0, 0.5);
}

.button {
  text-decoration: none;
  background-color: #1468bf;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid white;
  transition: all 0.5s ease;
}

.card:hover::before {
  width: 350px;
  height: 300px;
  border-bottom: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: scale(0.95);
}

.card:hover .card-info span {
  color: #fefefe;
  transition: all 0.3s ease;
}

.card-info a {
  color: rgb(84, 121, 247);
  transition: all 0.3s ease;
}

.card:hover .card-info a {
  color: #fefefe;
  transition: all 0.3s ease;
  background-color: #0e4177;
  padding: 2px 10px;
  border-radius: 5px;
}

.card:hover .card-info {
  transform: translate(0%, -15%);
}

.card:hover .card-info .readmore {
  color: #fefefe;
  font-size: 15px;
}

.card:hover .image {
  transform: translate(0%, -10%);
}

.Heading {
  --dot-bg: white;
  --dot-color: rgba(45, 176, 228, 0.185);
  --dot-size: 2px;
  --dot-space: 22px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
  height: 200px;
  margin-top: 0;
}

.Heading:hover {
  --dot-bg: white;
  --dot-color: rgba(0, 172, 240, 0.5);
  transition: all 0.3s ease;
}

.explore {
  color: #0b69cd;
  text-align: center;
  margin-left: 20%;
  width: 800px;
  margin-top: 30px;
}

.para {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  margin-left: 45px;
  color: #4d4c4c;
}

.wrapper {
  position: relative; /* Ensure proper positioning of suggestions */
  margin-bottom: 20px; /* Add spacing below the wrapper */
}

#search {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #0b69cd8e;
  border-radius: 5px;
  outline: none;
  margin-left: 36%;
  margin-top: 20px;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 31.8%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-left: 36%;
}

.list {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.list:hover {
  background-color: #f0f0f0;
}
