.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.imageSection {
    flex: 1;

}

.imageSection img {
    height: 100%;
    margin-left: 10%;
    margin-top: 3%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.formSection {
    flex: 1;
    padding: 20px;
}

.formInput {
    margin-top: 40px;
}

.formcontainer {
    height: 400px;
    max-width: 400px;
    margin-top: 20%;
    margin-left: 5%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.331);
    backdrop-filter: blur(10px);
}

.heading {
    display: block;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1px;
    color: rgb(84, 121, 247);
}

.text {
    text-align: center;
    color: #716f6f;
}


.users {
    text-align: center;
    color: #716f6f;
    margin-top: 10px;
}

.users_a {
    color: rgb(84, 121, 247);
    transition: border-bottom 0.3s ease;
    margin-left: 20px;
}

.users_a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(54, 77, 154);
    transition: width 0.5s ease;
}

.users_a:hover::after {
    width: 100%;
}

.users_a:hover {
    color: rgb(54, 77, 154);
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    width: 330px;
    margin-bottom: 15px;
    font-size: 15px;
    margin-left: 25px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(84, 121, 247);
    outline: none;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
    color: rgb(84, 121, 247);
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-bottom: 3px solid rgb(84, 121, 247);
}


.formController {
    margin-bottom: 15px;
}